body {
  font-size: .70rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background: #002e5f;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #ffffff;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover, .sidebar .nav-link.active{
  color: #D59F00;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}





/*---------------------------*/

.navbar {
  background-color: #002e5f;
}
.navbar .navbar-brand {
  color: #ecf0f1;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #d59f00;
}
.navbar .navbar-text {
  color: #ecf0f1;
}
.navbar .navbar-text a {
  color: #d59f00;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #d59f00; 
}
.navbar .navbar-nav .nav-link {
  color: #ecf0f1;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #d59f00;
}
.navbar .navbar-nav .dropdown-menu {
  background-color: #002e5f;
  border-color: #002042;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
  color: #ecf0f1;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
  color: #d59f00;
  background-color: #002042;
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
  border-top-color: #002042;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #d59f00;
  background-color: #002042;
}
.navbar .navbar-toggle {
  border-color: #002042;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #002042;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #ecf0f1;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ecf0f1;
}
.navbar .navbar-link {
  color: #ecf0f1;
}
.navbar .navbar-link:hover {
  color: #d59f00;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #d59f00;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #d59f00;
    background-color: #002042;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #d59f00;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #d59f00;
    background-color: #002042;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #d59f00;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #d59f00;
    background-color: #002042;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #d59f00;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #d59f00;
    background-color: #002042;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #ecf0f1;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #d59f00;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #d59f00;
  background-color: #002042;
}


.container{
	padding-top: 20px;
}

.div_elemento{
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 50px;
}

button.btn-izq-input, a.btn-izq-input{
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
}


button.btn-der-input, a.btn-der-input{
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
}

.modal-header {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #002e5f;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
     border-top-left-radius: 3px;
     border-top-right-radius: 3px;
     color: #d59f00;
 }

 /*.modal-header*/

.modal-header-danger {
    /*padding:9px 15px;*/
    border-bottom:1px solid #eee;
    background-color: #B93026;
    color: #ffffff;
    /*-webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;*/
 }


 .mt-col{
  margin-top: 27px;
 }


 label.is-invalid{
  color: red;
 }

.mt-5{
  margin-top: 5px;
}

.mt-10{
  margin-top: 10px;
}

.mt-15{
  margin-top: 15px;
}

.mt-20{
  margin-top: 20px;
}

.mt-25{
  margin-top: 25px;
}

.mb-10{
  margin-bottom: 10px;
}

.mb-15{
  margin-bottom: 15px;
}

.mb-5{
  margin-bottom: 5px;
}

.mb-20{
  margin-bottom: 20px;
} 

.mb-25{
  margin-bottom: 25px;
} 

.p-10{
  padding: 10px;
}

/*-------------------- PARA CHECKBOXES ----------------*/
/*input[type="checkbox"]{
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  background: #ccc;
  border-radius: 1px;
  box-sizing: border-box;
  position: relative;
  box-sizing: content-box ;
  width: 30px;
  height: 30px;
  border-width: 0;
  transition: all .3s linear;
  }

  input[type="checkbox"]:checked{
    background-color: #2ECC71;
  }

  input[type="checkbox"]:focus{
    outline: 0 none;
    box-shadow: none;
  }*/


  /*------------------------------------------------------------------------------*/
  /*------------------------------------------------------------------------------*/
  /* Customize the label (the container) */
  .cont-ch {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .cont-ch-normal{
    display: inline-block;
    position: relative;
    padding-left: 35px;
    /*margin-bottom: 12px;*/
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .cont-ch input, .cont-ch-normal input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: solid thin #ccc;
  }

  /* On mouse-over, add a grey background color */
  .cont-ch:hover input ~ .checkmark, .cont-ch-normal:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .cont-ch input:checked ~ .checkmark, .cont-ch-normal input:checked ~ .checkmark {
    background-color: #2196F3;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .cont-ch input:checked ~ .checkmark:after, .cont-ch-normal input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .cont-ch .checkmark:after, .cont-ch-normal .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


  /*------------------------------------------------------------------------------*/
  /*------------------------------------------------------------------------------*/

  /* Customize the label (the container) */
  .cont-rb {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .cont-rb-normal{
    display: inline-block;
    position: relative;
    padding-left: 35px;
    /*margin-bottom: 12px;*/
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default radio button */
  .cont-rb input, .cont-rb-normal input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom radio button */
  .checkmark-rb{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    border: solid thin #ccc;
  }

  /* On mouse-over, add a grey background color */
  .cont-rb:hover input ~ .checkmark-rb, .cont-rb-normal:hover input ~ .checkmark-rb {
    background-color: #ccc;
  }

  /* When the radio button is checked, add a blue background */
  .cont-rb input:checked ~ .checkmark-rb, .cont-rb-normal input:checked ~ .checkmark-rb {
    background-color: #2196F3;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark-rb:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  .cont-rb input:checked ~ .checkmark-rb:after, .cont-rb-normal input:checked ~ .checkmark-rb:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */
  .cont-rb .checkmark-rb:after, .cont-rb-normal .checkmark-rb:after {
    top: 8px;
    left: 8px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }

  /*------------------------------------------------------------------------------*/
  /*------------------------------------------------------------------------------*/

  .toast {
    opacity: 1 !important;
  }

  #toast-container > div {
    opacity: 1 !important; 
  }

  .btn-custom{
    width: 140px;
    height: 140px;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    margin: 5px;
    white-space: normal;
    font-size: 110%;
  }


  /*
  * https://bootstrapious.com/p/bootstrap-circle-button
  * ==========================================
  * CUSTOM UTIL CLASSES
  * ==========================================
  *
  */

  .btn-circle {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
  }

  .btn-circle i {
    position: relative;
    top: -1px;
  }

  .btn-circle-sm {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 0.9rem;
  }

  .btn-circle-lg {
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 1.1rem;
  }

  .btn-circle-xl {
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 1.3rem;
  }